.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 43);
    border-radius: 0 0 15px 15px;
    height: 70px;
    font-size: 15pt;
    margin: -4px;
}

.addTodoInput {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    width: 18rem;
    height: 2rem;
}

.addButton {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    width: 4rem;
    height: 2.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 2px;
}

.addButton:hover {
    filter: brightness(125%);
}