/* .todoContainer {
  background-color: var(--color-navy);
  color: var(--color-white);
  width: 25rem;
  height: 30rem;
  padding: 1%;
  border-radius: 5%;
  box-shadow: 0px 6px 49px 13px var(--color-shadow);
  -webkit-box-shadow: 0px 6px 49px 13px var(--color-shadow);
  -moz-box-shadow: 0px 6px 49px 13px var(--color-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
} */

.article {
  margin: 10px;
  height: 300px;
  overflow: auto;
  margin-right: 30px;
}

.select {
  display: flex;
  gap: 30px;
  color: var(--color-accent);
}

.selectIcon {
  cursor: pointer;
}

.select .selectIcon:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-white);
  transform: scale(1.1);
}