:root {
  --color-navy: rgb(255, 255, 255);
  --color-white: #000000;
  --color-accent: #ea44a2;
  --color-black: rgb(5, 5, 56);
  --color-background: rgba(238, 174, 202, 1);
}

html.dark {
  --color-navy: rgb(5, 5, 56);
  --color-white: #ffffff;
  --color-accent: #ff8a24;
  --color-shadow: rgba(0, 0, 0, 0.36);
  --color-black: black;
  --color-background: rgb(91, 85, 208);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, var(--color-background) 0%, rgba(148, 187, 233, 1) 68%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  accent-color: var(--color-accent);
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: 'RIDIBatang';
  list-style-type: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 20px;
}